
    form {
        background-color: #1673f5;
        padding: 20px;
        border-radius: 8px;
        color: #d7dee6;
        text-align: center;
        width: 70%;
        margin: auto;
    }
  #teste {
       
        padding: 20px;
        border-radius: 8px;
        color: #d7dee6;
        text-align: center;
    
    }
